<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Cblog">
  <meta name="author" content="Ricardo">
  <!-- CSRF -->
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/toastr.min.css}">
  <!-- Markdown CSS -->
  <link rel="stylesheet" th:href="@{/editor/css/editormd.preview.min.css}">
  <link rel="stylesheet" th:href="@{/editor/css/editormd.css}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/blog.css}">
  <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
      <a class="mr-3 text-muted" th:href="@{/index}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <!--cx 属性定义圆点的x坐标 rx 属性定义水平半径-->
          <ellipse ry="14" rx="14" cy="19" cx="15"></ellipse>
          <line y2="14" x2="12" y1="14" x1="8"></line>
          <line y2="14" x2="22" y1="14" x1="18"></line>
          <line y2="24" x2="19" y1="24" x1="11"></line>
        </svg>
      </a>
      <h3 class="navbar-brand mb-0">我爱豆沙包</h3>

      <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarsContainer">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsContainer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" id="nav-java">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" id="nav-python">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" id="nav-others">Others</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0" action="#" method="post">
          <input type="text" class="form-control" placeholder="Search">
        </form>
        <!-- 登录用户才显示 -->
        <div class="dropdown show" sec:authorize="isAuthenticated()">
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <span sec:authentication="name"></span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{'/u/'+${#authentication.name}+'/blogs/edit'}">写博客</a>
            <a class="dropdown-item" th:href="@{'/u/'+${#authentication.name}+'/blogs'}">博客管理</a>
            <a class="dropdown-item" th:href="@{'/u/'+${#authentication.name}+'/profile'}">个人中心</a>
            <form action="/logout" th:action="@{/logout}" method="post">
              <input class="dropdown-item" type="submit" value="退出">
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

</body>
</html>