<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Catalogedit</title>
</head>
<body>
<div class="container" th:object="${catalog}">
  <form>
    <input type="hidden" id="catalogId" name="id" th:value="*{id}">

    <div class="form-group">
      <label for="catalogName" class="col-form-label">名称</label>
      <input type="text" class="form-control" id="catalogName" name="name" th:value="*{name}" maxlength="30" placeholder="请输入分类名字" >
    </div>
  </form>
</div>
</body>
</html>